{% extends "form.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
<div class="alert alert-danger"><h3>Внимание! Сайт находится в стадии бета тестирования. О всех возникающих ошибках пишите на почту: andrtazet@gmail.com</h3></div>
<h2 class="text-center text-info">Создание запроса</h2>

<div class="container bg-light content-container">
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-8">
            <div class="content">
                <form action="/create_request" method="POST">
                    <div class="form-group">
                        <label for="tag">Ключевая фраза для поиска</label>
                        <input type="text" class="form-control" placeholder="например: лекарства" name="tag" id='tag'>
                    </div>
                    <div class="form-group">
                        <label for="min-price">Минимальная цена</label>
                        <input type="text" class="form-control" name="min-price" id='min-price'>
                    </div>
                    <div class="form-group">
                        <label for="max-price">Максимальная цена</label>
                        <input type="text" class="form-control" name="max-price" id="max-price">
                    </div>
                    <div class="form-group">
                        <label for="date-from">Дата с</label>
                        <input type="text" class="form-control" name="date-from" id="date-from">
                        <small>Разница в дате для одного запроса может быть не более года</small>
                    </div>
                    <div class="form-group">
                        <label for="date-to">Дата до</label>
                        <input type="text" class="form-control" name="date-to" placeholder="{{ date }}" id="date-to">
                    </div>
                    <div class="form-group">
                        <label for="search-filter">Сортировать по</label>
                        <select name="search-filter" id="search-filter" class="form-control">
                            <option value="place_date">Дате размещения</option>
                            <option value="update_date">Дате обновления</option>
                            <option value="price">цене</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="sort-direction" checked type="radio" value="from-new" id="from-new">
                        <label class="form-check-label" for="from-new">
                          Сначала новые
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="sort-direction" type="radio" value="from-old" id="from-old">
                        <label class="form-check-label" for="from-old">
                          Сначала старые
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 25px;">Создать запрос</button>
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="col-md"></div>
    </div>
</div>
{% endblock %}