<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body class="text-center">
  <form action="/login" method="POST">
    <h3>Войдите, чтобы продолжить</h1>
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.login.label }}
      {{ form.login() }}
      {% for error in form.login.errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      {{ form.password() }}
      {% for error in form.password.errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endfor %}
    </div>
    {{ form.submit(type="submit", class="btn btn-primary") }}
    <a href="/register">Ещё нет аккаунта? Подайте заявку на регистрацию.</a>
  </form>

</body>

</html>