<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body class="text-center">
    <form action="/register" method="POST">
        <h3>Заявка на регистрацию</h3>
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username()}}
            {% for error in form.username.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.login.label }}
            {{ form.login() }}
            {% for error in form.login.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
            {% for error in form.email.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            
        </div>
        {{ form.submit(type="submit", class="btn btn-primary") }}
        <a href="/login"> Уже есть аккаунт? Войти</a>
        {% if errors %}
        <div class="alert alert-danger">{{ errors }}</div>
        {% endif %}
    </form>
</body>
</html>