{% extends "form.html" %}

{% block content %}
    <table style="width: 95%;margin:auto;" border="1px" cellpadding='5px' >
        <thead>
            <th>номер</th>
            <th>тип</th>
            <th>цена</th>
            <th>дата</th>
            <th>обьект закупки</th>
            <th>заказчик</th>
            <th>место размещения</th>
            <th>условия доставки</th>
            <th>условия доставки</th>
            <th>имя победителя</th>
            <th>позиция</th>
            <th>итоговая цена</th>
            <th>документы</th>
            <th>ссылка</th>
        </thead>
        <tbody>
            {{ data |safe }}
        </tbody>
    </table>
{% endblock %}
