<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width: 95%;margin:auto;" border="1px" cellpadding='5px' >
        <thead>
            <th>номер</th>
            <th>тип</th>
            <th>цена</th>
            <th>дата</th>
            <th>обьект закупки</th>
            <th>заказчик</th>
            <th>место размещения</th>
            <th>место доставки</th>
            <th>время доставки</th>
            <th>имя победителя</th>
            <th>позиция</th>
            <th>итоговая цена</th>
            <th>документы</th>
            <th>ссылка</th>
        </thead>
        <tbody>
            {0}
        </tbody>
    </table>
</body>
</html>